/Debug/
/Release/
/*.cache
/gmon.out
/Release Profiling/
/Download Debug/
/Download Release/
/Train Debug/
/Train Release/
/Download_Debug/
/Download_Release/
/Train_Debug/
/Train_Release/
/cache.dat
/data.dat
/nnet.out
/Predict_Release/
/Predict_Debug/
